@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left ,  #2D20BD 80%, #21178A 20%);
    
}

a{
    text-decoration: none;
    color: black;
}

button{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 120px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 20px;
}