/* CORES 
#064789
#027BA1
#029692
#0227A1
#060296
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 125px;
    background-color: #027BA1;
}

img{
    width: 130px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 20px;
}

/* HEADER */
header{
    box-sizing: border-box;
    padding: 20px 40px;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0;
    background-color: #064789;
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
}

#title{
    text-align: center;
    margin-top: -0.8em;
    color: white;
}

#logo{
    width: 70px;
    display: flex;
    margin: auto;
}

/* MAIN */
#conferencias{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 600px;
    border-radius: 12px;
}


#leste{
    margin-right: 3em;
}

#oeste{
    margin-left: 3em;
}

#nba{
    color: white;
    text-align: center;
}