/* CORES 
#064789
#027BA1
#029692
#0227A1
#060296
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap%27');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    
    background-image: linear-gradient(to right, #027BA1, #0227A1);
}

img{
    width: 130px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 20px;
}

/* HEADER */
header{
    box-sizing: border-box;
    padding: 20px 40px; 
    width: 100%;
    top: 0;
    background-color: #064789;
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
    margin-bottom: 2rem;
}

#title{
    text-align: center;
    margin-top: -0.8em;
    color: white;
}

/* MAIN */
#conferencias{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 600px;
    border-radius: 12px;
    width: 700px;
    box-shadow:3px 3px 5px rgb(13, 13, 14);
    width: min(90%, 700px);
}
#conferencias p{
font-style: oblique;

}

#leste{
    margin-right: 3em;
}

#oeste{
    margin-left: 3em;
}

#nba{
    color: white;
    text-align: center;
}


#Curiosidades{
background-color: white;
width: 700px;
margin: auto;
box-shadow:3px 3px 5px rgb(13, 13, 14);
height:auto;
border-radius: 12px;
width: min(90%, 700px);
}
#titulo{
    
    text-align: center;
    color: white;
}
#Curiosidades p{
    margin-left: 1rem;
}

#Curiosidades h3{
    margin: 0 0 1rem 0.5rem;
}

.quiz{
    
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 600px;
    border-radius: 12px;
    width: 700px;
    box-shadow:3px 3px 5px rgb(13, 13, 14);
    width: min(90%, 700px);
    margin-top: 1rem;
}
.quiz button{
    width: 100px;
    height: 40px;
    margin-top: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.63);
    background-color: #029692;
}

.quiz button:hover{
    filter: brightness(1.2);
}



